source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32g4x.cfg]

# 既然有了硬复位，通信会稳定得多，可以把速度恢复到正常水平
adapter speed 1000

# 终极奥义：使用硬件复位 (srst_only)
# connect_assert_srst：在连接的瞬间就拉低复位线，直接把乱跑的代码扼杀在摇篮里
#reset_config srst_only srst_nogate connect_assert_srst
